body {
    background-color: rgb(245, 244, 177);
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 420px 420px 420px;
    grid-row-gap: 8px;
}

#gameTitle {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: center;
    margin: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#line-1 {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: center;
}

#line-2 {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: center;
}

#line-3 {
    grid-row-start: 4;
    grid-column-start: 2;
    justify-self: center;
}

#controls {
    grid-row-start: 5;
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}

#clearButton {
    width: 180px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    background-color: orange;
} 

#playerTurn {
    width: 180px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 

#winner {
    width: 200px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
    font-size: 20px;
} 

.square {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.8);
    color: white;

}

.squareRed {
    background-color: red;
    color: red;
}

.squareBlue {
    background-color: blue;
    color: blue;
}

